<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Fourth Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="/assets/css/main.css" />
	<style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            color: #333;
        }
        h1.major {
            color: black; /* Change the title color to black */
        }
        h3 {
            color: black; /* Change the title color to black */
        }
    </style>
</head>
<body>
    <div th:replace="header.html"></div>

	<div id="wrapper">
		<section id="main" class="wrapper">
		<div class="inner">
        	<h1 class="major">FAQ</h1>
        	
        	
        	
    	</div>
    	</section>
    </div>
    
    <div th:replace="footer.html"></div>
</body>
</html>